<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% extends "base.html" %}
{% block main %}

{% if iterable %}
    <table>
        {% for item in iterable %}
        <tr>
            <td>
                 <a href="{{ url_for('group_get', id=item.id)}}">{{item}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
        <h1> Indented elements </h1>
{% endif %}
<form action="{{ url_for('group_management') }}" method="post">

    <p>
        <label for="name">Name</label>
        <input name="name" type="text">
    </p>
    <p>
        <button type="submit">ADD</button>
    </p>
</form>
{% endblock main %}

</body>
</html>